{% extends 'base.html.twig' %}

{% block title %}Nouvelle destination{% endblock %}

{% block body %}
<section class="tm-page">

    <div class="tm-page-header">
        <h1>Ajouter une destination</h1>
        <p>Ajoutez une nouvelle destination à votre catalogue.</p>
    </div>

    <div class="tm-card">
        {{ include('destination/_form.html.twig') }}
    </div>

</section>
{% endblock %}